body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #bb00ffd9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.712);
    z-index: 10;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

/** Start Card product **/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1 1 calc(33.333% - 2rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}

.product:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.712);
    z-index: 10;
    transform: translateY(-10px);
}

.product img {
    height: 100px;
    width: auto;
    object-fit: cover;
    border-bottom: 5px solid #c200d3;
}

.wa {
    height: 20px;
    width: auto;
    margin-right: 0.5rem;
}

.product h2 {
    text-align: center;
    color: #333;
    margin: 1rem 0 0.5rem 0;
}

.product p {
    color: #666;
    text-align: center;
}

.product .price {
    color: #e67e22;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 0;
}

/* Button WhatsApp */
.wa-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 1rem;
}

.wa-button img.wa {
    height: 20px;
    margin-right: 0.5rem;
}

.wa-button:hover {
    background-color: #1DA851;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.712);
    scale: 1.1;
    transform: translateY(-5px);
    transition: 0.3s;
}

/* Start Footer Styles */
.footer {
    background-color: #bb00ffd9;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    margin-top: 2rem;
}

.footer-content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Social Media Icons */
.footer-social {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-social a {
    display: inline-block;
    text-decoration: none;
}

.footer-social img {
    width: 30px; /* Sesuaikan ukuran ikon sesuai kebutuhan */
    height: 30px;
    transition: 0.3s;
    opacity: 0.5;
}

.footer-social img:hover {
    opacity: 1;
    transition: 0.3s;
    scale: 1.1;
    transform: translateY(-5px);
}

/* Floating Button */
.floating-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #bb00ff00;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
    width: 80px;
    height: 80px;
    overflow: hidden; /* Ensure the image is clipped to the circular shape */
}

.floating-button img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.floating-button:hover {
    background-color: #ee07ff83;
    border-color: #ee07ff; /* Warna border saat dihover */
    box-shadow: 0 0 20px #ff07b0; /* Efek shadow saat dihover */
    transform: scale(1.05);
}
